* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}
.container {
    height: 70%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffff;
    border-radius: 20px;
}

.container-titulo {
    height: 15%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-titulo > h1 {
    color: #000;
    text-align: center;
}

.container-principal {
    height: 85%;
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.container-principal-sexo {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-principal-sexo-ambos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 50%;
}

.container-principal-sexo-masculino {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 50%;
}

.container-principal-sexo-feminino {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 50%;
}

.container-principal-nome {
    height: 15%;
    width: 100%;
}

.container-principal-altura {
    height: 15%;
    width: 100%;
}

.container-principal-peso {
    height: 15%;
    width: 100%;
}

.container-principal-confirmar {
    height: 15%;
    width: 100%;
}

.informacoes {
    height: 60%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}